<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanban</title>
</head>
<body>
    <h1>Add Activities</h1>
    <hr>
    <form action="/add" method="POST">
        <label for="fname">Activity Name:</label><br>
        <input type="text" name="fname"><br>
        <label for="ldate">Last Date:</label><br>
        <input type="date" name="ldate">
        <input type="submit" value="Add">
    </form>

    
</body>
</html>